body {
    margin: 0 0 1px 0; /* the extra 1px allows the iOS inner/outer check to work */
    background: #000;
}

#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/sprites/orientation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);

    z-index: 999;
    display: none;
    color: rgb(0,0,0);
    text-align: center;
}